
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <span><%= story[:id] %>.</span>
            </div>
            <div class="media-content">
                <p class="title is-4"><%= story[:title] %></p>
                <p class="subtitle is-6"><%= story[:score] %> points by <%= story[:by] %> <%= time_ago_in_words(story[:time]) %> ago | <%= link_to "HN Link", "https://news.ycombinator.com/item?id=#{story[:hn_id]}", target: "_blank"  %> </p>
            </div>
        </div>
    </div>
</div>
